<h1>Welcome to the Community Clothing Outreach</h1>
<% if user_signed_in? %>
  <p><%= link_to "Make an appointment", new_user_appointment_path(current_user) %></p>
  <p><%= link_to "View upcoming appointments", user_appointments_path(current_user) %></p>
  <p><%= link_to "Logout", logout_path %></p>
<% else %>
  <p><%= link_to "Login", new_user_session_path %></p>
<% end %>
